a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: darkblue;
}

body {
    margin-left: 0.1%; 
    margin-right: 0.2%; 
    margin-top: 0.1%;
    padding: 0.1%;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box; 
    background-color: lightgray;
}

.banner-text {
    flex: 0 0 auto;
}

.main-logo img {
    height: 50px; 
    width: auto;
    display: block;
}

.top-bar {
    display: flex;
    justify-content: center; 
    gap: 20%; 
    flex: 1; 
}

.top-bar a h1 {
    white-space: nowrap;
    font-size: 1.1rem; 
}

.menu {
    flex: 0 0 auto;
    text-align: right;
}