

body {
    margin-left: 0px; 
    margin-right: 0px; 
    margin-top: 0px;
    padding: 0px;
}

a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: darkblue;
}

/*
.container {
}
*/

.banner {
    background-color: lightslategray;
    column-gap: 0;
    display: flex;
    flex: 1; 
    gap: 5%;
    height: 100px;
    width: 100%;
}

.banner1 {
    align-items: center;
    display: flex;
    flex: 1; 
    gap: 5%;
    height: 100px;
    justify-content: left; 
    margin-left: 20px;
}

.banner2 {
    background-color: lightslategray;
    display: flex;
    flex: 1; 
    gap: 5%;
    height: 100px;
    justify-content: center; 
    justify-content: space-between;
}

.banner3 {
    align-items: center;
    display: flex;
    flex: 1; 
    gap: 5%;
    height: 100px;
    justify-content: right; 
    margin-right: 20px;
}

/*
.services-banner {
}
*/

/*
.accueil-banner {
}
*/
/*

/*
.contact-banner {
}
*/














