a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: darkblue;
}

body {
    margin-left: 0.1%; 
    margin-right: 0.3%; 
    margin-top: 0.1%;
    padding: 0.1%;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;
    width: 100%;
    min-height: 60px;
    background-color: lightgray;
}

.main-logo {
    margin-right: auto;
    width: 20%;
}

.top-bar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 33%;
    width: 60%
}

.menu {
    margin-left: auto;
    width: 10%;
}